* {
  font-family: 'Open Sans', sans-serif;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#search-bar {
  flex-basis: 40%;
}

#search-bar input {
  padding: .7rem .3rem;
  border-radius: 100px;
  width: 90%;
  margin-right: -3rem;
  background-color: gainsboro;
  transition: all .2s;
}
#search-bar button {
  border: none;
  border-radius: 100px;
  background-color: gainsboro;
}
#search-bar input:focus {
  outline: none;
  width: 100%;
}

/* User data */
#user-data {
  display: flex;
  align-items: center;
  align-self: stretch;
}

#user-data > div {
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  height: 100%;
}

#user-data > div > i {
  font-size: 2rem;
}

#user-data > div:hover {
  background-color: #efefef;
}

#user-data .user-info {
  display: flex;
  align-items: center;
}
#user-data .user-info img {
  width: 50px;
  border-radius: 100px;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content .address-book-item {
  width: 350px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

.address-book-item-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.address-book-item img {
  width: 100px;
  border-radius: 100px;
  margin-bottom: 1rem;
}