html {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid:
    'header header header' 75px
    'nav section aside' 1fr
    'footer footer footer' 75px
    / 150px 1fr 150px;
}

header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
section {
  grid-area: section;
}
aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

.container > * {
  
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav div {
  padding: 20px;
}

section {
  padding: .5rem;
}


aside div {
  margin-bottom: 1rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer div {
  padding: 1.5rem;
}

@media screen and (max-width: 650px) {
  .container {
    grid:
    'header header' 75px
    'nav section' 1fr
    'aside aside' 120px
    'footer footer' 75px
    / 120px 1fr;
  }

  aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  aside div {
    margin: 0;
  }
}

@media screen and (max-width: 630px) {
  .container {
    grid:
    'header' 75px
    'nav' 75px
    'section'
    'aside' 120px
    'footer' 75px
    / 1fr;
  }
  nav {
    flex-direction: row;
    justify-content: space-between;
  }
  nav div {
    padding: .25rem;
  }
  aside {
    justify-content: space-evenly;
  }
  aside div:nth-child(3) {
    display: none;
  }
  aside div:nth-child(4) {
    display: none;
  }
}