body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  padding: .5rem;
  background-color: dodgerblue;
  width: 100%;
}
.form-row {
  display: flex;
  align-items: center;
  padding: .5rem;
}
.form-row input {
  padding: .5rem;
  flex: 2 0 250px;
}

.form-row label {
  text-align: right;
  margin-right: .5rem;
  flex: 1 0 120px;
}

.form-row.buttons {
  display: flex;
  justify-content: flex-end;
}

.buttons button {
  padding: .5rem;
  flex: 0 0 20%;
}

@media screen and (max-width: 750px) {
  .form-row {
    align-items: flex-start;
    flex-direction: column;
  }
  .form-row label {
    margin-bottom: .5rem;
    flex: 0 0 1rem;
  }
  .form-row input {
    width: 100%;
    flex: 0 0 1rem;
  }

  .form-row.buttons {
    /* flex-direction: row; */
  }
  .buttons button {
    width: 100%;
    margin-bottom: .5rem;
    flex: 1 1 50%;
  }
}