body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header-wrapper {

  border-bottom: 1px solid grey;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

#icons {
  flex-basis: 20%;
  display: flex;
  justify-content: space-between;
}

#icons #avatar {
  border-radius: 50px;
}
#search-bar {
  display: flex;
  align-items: center;
}
#search-bar i {
  color: gray;
  position: relative;
  left: 25px;
}
#search-bar #search-input {
  padding: .5rem;
  outline: none;
  padding-left: 30px;
}

#content-wrapper {
  margin-top: 30px;
  width: 80%;
  border-bottom: 1px solid gray;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

#profile {
  display: flex;
}

#profile-logo {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#profile-logo img {
  border-radius: 100px;
}

#profile-description {
  flex-basis: 70%;
}
#profile-description #intro {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

#profile-description #intro button {
  background-color: #0095f6;
  border-color: #0095f6;
  color: #fff;
  overflow: hidden;
  outline: 0;
  height: 1.5rem;
  border-radius: 4px;
  padding: 0 .5rem;
}

#profile-description #intro #username {
  font-size: 1.5rem; 
}

#profile-description #stats {
  margin-bottom: 1.5rem;
}
#stats span {
  margin-right: 2rem;
}

#stories {
  display: flex;
}

.story {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.story img {
  border: 1px solid gray;
  border-radius: 100px;
  padding: 5px;
  margin-bottom: .5rem;
  
}

#posts-wrapper {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .5rem;
}
.post-wrapper {
  position: relative;
}
.post-wrapper .overlay {
  opacity: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: gray;
  transition: .5s ease;
}
.post-wrapper:hover .overlay {
  opacity: .75;
}
.post-wrapper .overlay .text:first-child {
  margin-right: 20px;
}