.container {
  display: flex;
  justify-content: center;
}

.pricing-grid {
  border: 2px dashed red;
  display: flex;
  width: 75%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.pricing {
  flex: 0 0 200px;
  padding: 1rem;
  background-color: mediumorchid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.feature {
  border-bottom: 1px solid black;
  padding: .5rem;
}

.pricing .price {
  font-size: 2rem;
  padding: 1rem;
}
.pricing .name {
  font-size: 2rem;
  text-align: center;

}
.buy button {
  padding: 10px;
  border: none;
  background-color: limegreen;
}

@media screen and (max-width: 950px) {
  .pricing-grid {
    flex-direction: column;
    align-items: stretch;
    max-width: 300px;
  }
}
